.btnAddBurger {
  clear: both;
}

.formDevour {
  display: inline-block;
}

.panel {
  border: none;
  box-shadow: none;
  webkit-box-shadow: none;
}
.panel-body {
  padding: 0px;
}

.burger-list li {
  padding: 5px 5px;
}